.pageTitle{
    width: 960px;
    text-align: center;
    padding: 32px 0;
    background-color: #3963DA;
    margin: 0 auto;
}
img{
    vertical-align:top;
}

.titleCont{
	padding: 0px;
}

pre code{
	padding: 0;
}

