

.gridItems{
  margin: 0 auto;
  text-align: justify;
}


.gridItems:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.gridItems .item,
.gridItems .gap{
  display: inline-block;
  width: 49%;
}

.gridItems .item{
  text-align: left;  
  /*background: #03899c;*/
  margin-bottom: 2%;
}

.pageBlog .gridItems .item.category-1{
  border-top: 2px solid #CD3288;
}

.pageBlog .gridItems .item.category-2{
  border-top: 2px solid #46FF00;
}

.pageBlog .gridItems .item.category-3{
  border-top: 2px solid #00FFDB;
}




@media all and (min-width: 420px){
  .gridItems .item,
  .gridItems .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .gridItems .item,
  .gridItems .gap{
    width: 23.5%;
  }
}


@media all and (min-width: 1279px){
  .gridItems .item,
  .gridItems .gap{
    width: 19%;
  }
}












/*.gridItems{
  margin: 0 auto;
  text-align: justify;
}


.gridItems .item,
.gridItems .gap{
  position: relative;
  text-align: justify;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}








@media all and (min-width: 640px){
  .gridItems .item,
  .gridItems .gap{
    width: 49%;
  }
}

@media all and (min-width: 768px){
  .gridItems .item,
  .gridItems .gap{
    width: 32%;
  }
}

@media all and (min-width: 1279px){
  .gridItems .item,
  .gridItems .gap{
    width: 19.5%;
  }
}*/